@(csrf: String)
@outer_template("Forgot My Password")(""){
<!-- Reference: https://getbootstrap.com/docs/4.3/examples/sign-in/ -->
<link href="/assets/stylesheets/signin.css" rel="stylesheet">


<a href="/">
    <img class="mb-4" src="/assets/images/logo_medium.png">
</a>

<div class="form-signin" id="reset">
    <p id="prompt">Please enter your email to request the password reset link.</p>
    <input type="email" id="email" class="form-control" placeholder="Email" required autofocus>
    <div style="margin-bottom: 10px;"></div>
    <button class="btn btn-dark btn-block" type="submit" id="button_request">Request</button>
</div>
<div id="proceed" class="d-none">
    <p><strong>Thank you!</strong></p> <p class="mb-0"> Email with password reset instructions is on the way.</p>
</div>
<div style="padding: 2em;"></div>

<input type="hidden" id="csrf" value="@csrf">

<script src="/assets/javascript/forgot.js" type="text/javascript"></script>
}