@(token: String, csrf: String)
@outer_template("Reset Your Password")(""){
<link href="/assets/stylesheets/signin.css" rel="stylesheet">

<img class="mb-4" src="/assets/images/logo_medium.png">

<div class="form-signin" id="reset">
    <p id="prompt">Please enter at least 6 characters</p>
    <label for="reset_password_1" class="sr-only">Enter new password</label>
    <input type="password" id="reset_password_1" class="form-control" placeholder="Enter new password" required
           autofocus>
    <label for="reset_password_2" class="sr-only">Password</label>
    <input type="password" id="reset_password_2" class="form-control" placeholder="Re-enter new password" required>
    <div style="margin-bottom: 10px;"></div>
    <button class="btn btn-dark btn-block" type="submit" id="button_reset">Reset</button>
</div>
<div class="form-signin d-none" id="proceed">
    <div class="alert alert-success"><p><strong>Thank you!</strong></p> <p class="mb-0"> Your password has been updated.</p></div>
    <a class="btn btn-secondary btn-block" href="/subscribers">Sign in</a>
</div>
<input type="hidden" id="token" value="@token">
<input type="hidden" id="csrf" value="@csrf">
<div style="padding: 2em;"></div>

<script src="/assets/javascript/reset.js" type="text/javascript"></script>
}